In [2]:
#Importing the required packages
import pandas as pd
import json

In [3]:
#Loading the json file 
json_sample_data = json.load(open('testfile.json'))

#Creating a pandas dataframe from the json data
data = pd.DataFrame(json_sample_data)
data

     Gender  HeightCm  WeightKg
0      Male       174        96
1      Male       189        87
2    Female       185       110
3    Female       195       104
4      Male       149        61
..      ...       ...       ...
495  Female       150       153
496  Female       184       121
497  Female       141       136
498    Male       150        95
499    Male       173       131

[500 rows x 3 columns]

In [4]:
#Lambda function to calculate BMI
BMI = lambda wt,ht: wt/pow(ht/100,2) 

#Lambda function to find the BMI category based on the BMI value that is calculated dynamically
BMICat = lambda x,y: 'Underweight' if BMI(x,y)<=18.4 else ('Normal weight' if 18.5<=BMI(x,y)<=24.9 else ('Overweight' if 25<=BMI(x,y)<=29.9 else ('Moderately obese' if 30<=BMI(x,y)<=34.9 else ('Severly Obese' if 35<=BMI(x,y)<=39.9 else 'Very severly obese'))))

#Lambda function to find the Health Risk category based on the BMI value that is calculated dynamically
HRisk = lambda x,y: 'Malnutrition risk' if BMI(x,y)<=18.4 else ('Low risk' if 18.5<=BMI(x,y)<=24.9 else ('Enhanced risk' if 25<=BMI(x,y)<=29.9 else ('Medium risk' if 30<=BMI(x,y)<=34.9 else ('High risk' if 35<=BMI(x,y)<=39.9 else 'Very high risk'))))

#Adding the 'BMI','BMI_Category','Health Risk' columns to the dataframe
data[['BMI','BMI_Category','Health Risk']] = [[BMI(x,y),BMICat(x,y),HRisk(x,y)] for x,y in data[['WeightKg','HeightCm']].itertuples(index=False)]

In [5]:
data

     Gender  HeightCm  WeightKg        BMI        BMI_Category     Health Risk
0      Male       174        96  31.708284    Moderately obese     Medium risk
1      Male       189        87  24.355421       Normal weight        Low risk
2    Female       185       110  32.140248    Moderately obese     Medium risk
3    Female       195       104  27.350427          Overweight   Enhanced risk
4      Male       149        61   27.47624          Overweight   Enhanced risk
..      ...       ...       ...        ...                 ...             ...
495  Female       150       153       68.0  Very severly obese  Very high risk
496  Female       184       121  35.739603       Severly Obese       High risk
497  Female       141       136  68.407022  Very severly obese  Very high risk
498    Male       150        95  42.222222  Very severly obese  Very high risk
499    Male       173       131  43.770256  Very severly obese  Very high risk

[500 rows x 6 columns]

In [6]:
#Finding the total number of overweight people in the data
overweight_count = len(data[data['BMI_Category']=='Overweight']['BMI_Category'])
overweight_count

67